	<div class="container">
		<div class="row">
			<div class="col-sm-12 navigation">
				<img src="img/breadcrumb_3.png" class="center-block img-responsive">
			</div>
		</div>
		<div class="row wizard">
			<div class="row no-margin">
				<div class="col-sm-12">
					<h4>Summary</h4>
				</div>
			</div>
			<div class="row some-margin">
				<div class="col-sm-6 summary-col">
					<h4 ng-if="formData.renewalNum">Renewal Number</h4><br />
					<p ng-if="formData.renewalNum">{{formData.renewalNum}}</p>
					<h4>Licence</h4><br />
					<h5>Type:</h5>				<span>Adult Salmon</span><br />
					<h5>Duration:</h5>				<span>Full</span><br />
					<h5>Date of Birth:</h5>			<span>{{formData.dateOfBirth}}</span><br />
					<h5>Disabled Licence:</h5>		<span>No</span><br />
				</div>
				<div class="col-sm-6 summary-col">
					<h4>Licence Holder Details</h4><br />
					<h5>Name:</h5>				<span>{{formData.cstmTitle}} {{formData.cstmFirstName}} {{formData.cstmLastName}}</span><br />
					<h5>Email:</h5>				<span>{{formData.cstmEmail}}</span><br />
					<h5>Mobile Number:</h5>		<span>{{formData.cstmMobile}}</span><br /><br />
					<h5>Address</h5>			<p>{{formData.cstmHouseNo}} {{formData.cstmAddress1}}<br />{{formData.cstmAddress2}}<br />{{formData.cstmCity}}<br />{{formData.cstmCountry}}<br />{{formData.cstmPostcode}}</p><br />
				</div>
			</div>
		</div>

		<div class="row no-margin">
			<div class="col-xs-6 back-nav">
				<a  ui-sref="form.details"   class="btn btn-lg btn-secondary but-full">
					<span class="glyphicon glyphicon-chevron-left"></span> Back
				</a>
			</div>
			<div class="col-xs-6 next-nav">
				<button href="acceptance-4.html" onclick="parent.addPostageToBasket();" class="btn btn-lg btn-primary but-full" >
					Add to Basket <span class="glyphicon glyphicon-chevron-right"></span>
				</button>

			</div>
		</div>
	</div>
